[theme]
theme = "modern"
[icons]
icons = "material-nf"

[[block]]
block = "load"
interval = 5
format = " $icon $1m.eng(w:3) $5m.eng(w:3) $15m.eng(w:3) "

[[block]]
block = "cpu"
interval = 5
format = " $icon $barchart $utilization "

[[block]]
block = "temperature"
interval = 10
format = " $icon $average "
chip = "*-isa-*"
inputs = ["CPU"]
idle = 70
info = 75
warning = 80

[[block]]
block = "temperature"
interval = 10
format = " $icon $average "
chip = "amdgpu-*"
inputs = ["edge"]
idle = 55
info = 60
warning = 70

[[block]]
block = "memory"
format = " $icon $mem_used_percents $icon_swap $swap_used_percents "
interval = 5
warning_mem = 70
critical_mem = 90

[[block]]
block = "disk_space"
path = "/"
info_type = "used"
alert_unit = "GB"
format = " $icon / $percentage "
interval = 30
warning = 75.0
alert = 90.0

[[block]]
block = "disk_space"
path = "/home"
info_type = "used"
alert_unit = "GB"
format = " $icon /home $percentage "
interval = 30
warning = 75.0
alert = 90.0

[[block]]
block = "temperature"
interval = 10
format = " $icon $average "
chip = "nvme-*"
inputs = ["Composite", "Sensor 1", "Sensor 2"]
idle = 50
info = 55
warning = 60

[[block]]
block = "net"
device = "enp5s0"
format = " $icon ^icon_net_down $speed_down ^icon_net_up $speed_up "
interval = 5
missing_format = ""

[[block]]
block = "net"
device = "enp5s0f0"
format = " $icon ^icon_net_down $speed_down ^icon_net_up $speed_up "
interval = 5
missing_format = ""

[[block]]
block = "net"
device = "wlan0"
format = " $icon ^icon_net_down $speed_down ^icon_net_up $speed_up "
interval = 5
missing_format = ""

[[block]]
block = "pacman"
interval = 600
format = " $icon $pacman "
format_singular = " $icon $pacman "
format_up_to_date = ""
critical_updates_regex = "(linux |linux-lts|linux-zen)"
aur_command = "pikaur -Qua"

[[block]]
block = "sound"
format = " $icon $volume "
headphones_indicator = true

[[block]]
block = "backlight"
device = "amdgpu_bl1"

[[block]]
block = "battery"
driver = "upower"
format = " $icon $percentage $time "
full_format = " $icon $percentage "

[[block]]
block = "time"
interval = 1
[block.format]
full = "$icon $timestamp.datetime(f:'%a %d.%m.%Y %H:%M:%S')"
